/**
 * Global app/site styles
 */
body {
	background-color: $color-bg;
	text-align:center;
	overflow-x: hidden;
	position: relative;
}

picture {
	height:0;
}

h2 p {

	text-align:center;
}

.is-blue {

	background-color: $blue;
}


.is-pink {

	background-color: $blue;
}

.main-row {

	max-width: 1440px;
	min-width: 300px;
}

.thin-text {

	font-weight: normal;
}


.yt-container {

	margin-bottom: 50px;
}

.content-cluster {

	max-width: 800px;
	text-align:center;
	margin: 50px auto;
}

.main-menu {

	width: 10%;
	height: auto;
	position :fixed;

	ul {
		list-style:none;
	}
}


.main-title {

	padding-bottom: 50px;
}

.menu-item {
	transform: scale(.2);
	width:60px;
	height:60px;
}


.element-cluster {

	@include respond-min($bp-huge) {

		width:	100%;
		height: 450px;
		background-image:url('../img/bg_header.jpg');
		max-width: auto!important;
	}
}

.overlayer {

	position: fixed;
	pointer-events: none;
	width: 100%;
//	height:600px;
	transform: translateY(-100%);
//	position: absolute;
	transition: all 2s ease-in-out;
	animation-fill-mode: forwards;
	backface-visibility: hidden;
}

.ol-top {
	z-index : 2;
	background-color: $yellow;
	mix-blend-mode: difference;
	top:0;
}

.ol-bottom {
	z-index : 3;
	background-color: $red;
	mix-blend-mode: difference;
	top:0;
}

.container { 

	overflow: hidden;
}
/*  general fade out */
@keyframes anim {
    0%   {transform: translateY(-100%) skew(-30deg) rotate(-30deg);}
    100% {transform: translateY(100%) skew(-30deg) rotate(-30deg);}
}


.is-animating  {

	animation: anim 2s ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	backface-visibility: hidden;
}


