
.masthead { 

	width:100%;

	@include respond-min($bp-huge) {
		background-image:url('../img/bg_header.jpg');
		background-repeat: repeat;


		img {
			margin-bottom: -7px;
		}
	}
}

.masthead-logo {

	position: absolute;
	top: 45px;
	left: 85%;


	@include respond-min($bp-narrow) {
		top: 45px;
		left: 70%;
	}

	@include respond-min($bp-wide) {
		top: 50px;
		left: 5%;
	}
	@include respond-min($bp-huge) {
		left: 15%;
	}

}

.overlayer {
	pointer-events: none;
	width: 100%;
	height:600px;
	transform: skew(-30deg) rotate(-30deg);
	position: absolute;
	transition: all .5s ease-in-out;
	animation-fill-mode: forwards;
	backface-visibility: hidden;
}

.ol-top {
	z-index : 2;
	background-color: $yellow;
	mix-blend-mode: difference;
	top:0;
}

.ol-bottom {
	z-index : 3;
	background-color: $red;
	mix-blend-mode: difference;
	top:0;
}
/*  general fade out */
@keyframes anim {
    0%   {transform: translateY(-100%) skew(-30deg) rotate(-30deg);}
    100% {transform: translateY(100%) skew(-30deg) rotate(-30deg);}
}


.is-animating  {

	animation: anim 2s ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	backface-visibility: hidden;
}
