
.masthead { 

	width:100%;

	@include respond-min($bp-huge) {
		background-image:url('../img/bg_header.jpg');
		background-repeat: repeat;


		img {
			margin-bottom: -7px;
		}
	}
}

.masthead-logo {

	position: absolute;
	top: 45px;
	left: 85%;


	@include respond-min($bp-narrow) {
		top: 45px;
		left: 70%;
	}

	@include respond-min($bp-wide) {
		top: 50px;
		left: 5%;
	}
	@include respond-min($bp-huge) {
		left: 15%;
	}

}


