
.masthead { 

	width:100%;
}

.masthead-logo {

	position: absolute;
	top: 45px;
	left: 85%;


	@include respond-min($bp-narrow) {
		top: 45px;
		left: 70%;
	}

	@include respond-min($bp-wide) {
		top: 50px;
		left: 5%;
	}

}